	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #181818;
		font-family: 'Didact Gothic', sans-serif;
		font-size: 12pt;
		font-weight: 200;
		color: #FFF;
	}

	span{
		margin-right: 30px;
	}
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	
	p, ol, ul
	{
		margin-top: 0;
		font-family:Arial;
		color: #111111;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #ee0000;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 64%;
	}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
	}
	
	ul.actions
	{
	}
	
	ul.actions li
	{
		display: inline-block;
		padding: 0em 0.50em;
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1vw;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40%;
		height: auto;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		letter-spacing: 0.10em;
		margin-top: 2em;
		padding: 1.40em 3em;
		background: #2651a8;
		border-radius: 6px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1vw;
		color: #FFF;
	}
	
	.button-alt
	{
		padding: 1em 2em;
		border-color: rgba(0,0,0,.8);
		color: #FFF;
	}
		
/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 100%;
	}
	
	.box1,
	.box2,
	.box3
	{
		float: left;
		margin-right: 20px;
	}
	
	.box4
	{
		float: right;
	}
	
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		width: 32%;
	}

	.boxA,
	.boxB
	{
		float: Left;
		margin-right: 20px;
	}
	
	.boxC
	{
		float: right;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 60%;
	}
	
	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}

	
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2vw;
	}
	
	.title .byline
	{
		font-size: 1vw;
		color: rgba(255,255,255,0.60);
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#wrapper
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: #FFF;
	}

	#wrapper1
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: darkgray;
	}

	#textarea
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#text
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#header
	{
		position: relative;
		padding: 5em 0em;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: #111111 url(images/header-bg.jpg) no-repeat center;
		background-size: cover;
		width: 100%;
		height: 100%;
	}

	.header-wrapper1
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: #111111 url(images/it1.jpg) no-repeat center;
		background-size: cover;
		width: 100%;
		height: 70%;
	}

	.header-wrapper2
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: #111111 url(images/it4.jpg) no-repeat center;
		background-size: cover;
		width: 100%;
		height: 70%;
	}

	.header-wrapper3
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: #111111 url(images/it5.jpg) no-repeat center;
		background-size: cover;
		width: 100%;
		height: 70%;
	}

	.header-wrapper4
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: #111111 url(images/it6.jpg) no-repeat center;
		background-size: cover;
		width: 100%;
		height: 70%;
	}

	.header-wrapper5
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: #111111 url(images/it7.jpg) no-repeat center;
		background-size: cover;
		width: 100%;
		height: 70%;
	}

	.center
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 3.6em;
		left: 0;
	}
	
	#logo h1
	{
		font-size: 2.6vw;
		color: #79C255;
	}
	
	#logo a
	{
		text-decoration: none;
		color: rgba(255,255,255,1);
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: relative;
		top: auto;
		left: 40%;
	}
	
	#menu ul
	{
		display: inline-block;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}
	
	#menu li a, #menu li span
	{
		padding: 1vw 1.5vw;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.9vw;
		color: rgba(255,255,255,0.80);
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .active a
	{
		background: #2651a8;
		border-radius: 6vw;
		color: rgba(255,255,255,1);
	}
	
	#menu .icon
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding-top: 10em;
		text-align: center;
	}
	
	#banner .title h2
	{
		font-size: 3vw;
	}
	
	#banner .title .byline
	{
		font-size: 2vw;
	}
	
	#banner .button
	{
		margin-top: 2em;
		padding: 1.40em 3em;
		border-radius: 6px;
		font-weight: 700;
		font-size: 1vw;
		
	}
	
	.banner
	{
		margin-bottom: 5em;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	
	#copyright p
	{
		text-align: center;
		font-size: 1vw;
		color: rgba(255,255,255,0.3);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}


/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		position: relative;
		padding: 7em 0em 7em 0em;
		background: #2651a8;
		background-size: cover;
		text-align: center;
	}
	
	#welcome .container
	{
		width: 1000px;
		padding: 0px 100px;
		color: rgba(255,255,255,0.8);
	}
	
	#welcome a
	{
		color: rgba(255,255,255,1);
	}
	
	#welcome .button
	{
		background: #FFF;
		color: #2651a8;
	}


/*********************************************************************************/
/* Extra                                                                         */
/*********************************************************************************/

	#three-column
	{
		text-align: center;
		color: rgba(0,0,0,0.6);
	}

	#three-column .fa
	{
		display: block;
		padding: 1em 0em;
		color: rgba(0,0,0,1);
		font-size: 2vw;
	}
	
	#three-column .title h2
	{
		font-weight: bold;
		color: rgba(0,0,0,0.8);
	}

	#three-column .title .byline
	{
		text-align: center;
		color: rgba(0,0,0,.5);
	}
	/*********************************************************************************/
	/* Slideshow                                                                         */
	/*********************************************************************************/

	.mySlides
	{
		display: none
	}

	img {vertical-align: middle;}

	.slideshow-container
	{
		max-width: 60%;
		position: relative;
		margin: auto;
	}

	.prev, .next {
		cursor: pointer;
		position: relative;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -22px;
		color: black;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
	}

	.next
	{
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	.prev:hover, .next:hover
	{
		background-color: rgba(0,0,0,0.8);
	}

	.textsl
	{
		color: #111111;
		font-size: 45px;
		padding: 15px 25px;
		position: relative;
		bottom: 15px;
		width: 100%;
		text-align: center;
	}

	.dot
	{
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}

	.active, .dot:hover
	{
		background-color: #717171;
	}

	.fade
	{
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@-webkit-keyframes fade
	{
		from {opacity: .4}
		to {opacity: 1}
	}

	@keyframes fade
	{
		from {opacity: .4}
		to {opacity: 1}
	}

	/* On smaller screens, decrease text size */
	@media  screen and (max-width: 300px)
	{
		.prev, .next,.text {font-size: 11px}
	}

	/* Tablet Landscape */
	@media screen and (max-width: 1060px) {
		#primary { width:67%; }
		#secondary { width:30%; margin-left:3%;}
	}
	/* Tabled Portrait */
	@media screen and (max-width: 768px) {
		#primary { width:100%; }
		#secondary { width:100%; margin:0; border:none; }
	}

	* {box-sizing: border-box}